.btn-one{
    padding: 8px 32px;
    border: 0;
    border-radius: 50px;
    color: #EDEDED;
    background-color: #9747FF;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
    .btn-one:hover{
        background-color: #7b30dd;
        
    }

#navbarNav{
    justify-content: end;
}
#navbarNav > .navbar-nav{
    align-items: center;
    gap: 40px;
}
#navbarNav > .navbar-nav > .nav-item > .nav-link{
    color: #bbbbbb;
    color: #b39dcf;
}
#navbarNav > .navbar-nav > .nav-item > .nav-link:hover{
    color: #9747FF;
}








.imgslider{
    width: 100%;
    height: 550px;
    object-fit: cover;
    object-position: center;
}

    #carouselExampleIndicators>.carousel-indicators .active{
        width: 30px;
    }
    #carouselExampleIndicators>.c-i-me>button{
        background-color: #F476FF;
        border: 0;
        border-radius: 50px;
        width: 6px;
        height: 6px;
    }
    .carousel-caption{
        text-align: start;
    }
    .carousel-caption>p{
        color: #bbbbbb;
    }

    .carousel-degradado{
        width: 100%;
        height: 100%;
        background: linear-gradient(transparent, #242424);
        position: absolute;
        top: 0;
    }




.arrow-btn-right{
    align-items: end;
}
.arrow-btn-left{
    right: 100px;
    align-items: end;
}
#carouselExampleDark > .carousel-control-prev{
    right: 100px;
}
.arrow-right{
    background: url(/imagenes/arrow-right-solid2.png);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8px 32px;
    border: 1px solid #9747FF;
    border-radius: 50px;
    transition: all .15s ease-in-out;
}
    .arrow-right:hover{
            background-color: #f476ff30;
            
    }
.carousel-dark .arrow-right{
    filter: invert(0) ;
}

#carouselExampleDark>.carousel-indicators{
    
}
#carouselExampleDark>.carousel-indicators > .active{
    width: 100px;
}
#carouselExampleDark>div>button{
    background-color: #7b30dd;
    border: 0;
    border-radius: 50px;
    width: 30px;
    height: 1px;
}



.card{
    background-color: transparent;
    border-radius: 100px 0 0 0;
    border: 1px solid #b39dcf;
}
.img-card{
    height: 18em;
    object-fit: cover;
    object-position: center;
    border-radius: 100px 0 0 0;
}