.bd1{
    width: 92%;
    height: 350px;
    background: url(../imagenes/Banda-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -250px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    color: #EDEDED;
    .content-bandai{
        bottom: 0;
    }
    .aa{
        width: 100%;
        height: 350px;
        background: linear-gradient(to right, #242424 30%, transparent);
    }
}

.bd2{
    width: 92%;
    height: 350px;
    background: url(../imagenes/Banda-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 120px -250px;
    color: #EDEDED;
    .content-bandai{
        bottom: 0;
    }
    .aa{
        width: 100%;
        height: 350px;
        background: linear-gradient(to right, #242424 30%, transparent);
    }
}

.bd3{
    width: 92%;
    height: 350px;
    background: url(../imagenes/Banda-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 120px 0;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    color: #EDEDED;
    .content-bandai{
        bottom: 0;
    }
    .aa{
        width: 100%;
        height: 350px;
        background: linear-gradient(to right, #242424 30%, transparent);
    }
}