.imgRec{
    width: 100%;
    height: 250px;
    border-radius: 5PX 100px 5px 100px;
    object-fit: cover;
    object-position: center;
}


.card{
    background-color: transparent;
    border-radius: 100px 5px 5px 5px;
    border: 1px solid #b39dcf;
    .img-card{
        height: 18em;
        object-fit: cover;
        object-position: center;
        border-radius: 100px 0 0 0;
    }
}