.imgRec{
    width: 100%;
    height: 250px;
    border-radius: 70px 5px 5px 5px;
    object-fit: cover;
    object-position: center;
}


.card{
    background-color: transparent;
    border-radius: 70px 5px 5px 5px;
    border: 1px solid #b39dcf;
    .img-card{
        height: 18em;
        object-fit: cover;
        object-position: center;
        border-radius: 70px 0 0 0;
    }
}

#valoraciones{
    .card{
        padding: 40px 20px;
    }
}