//PANTALLA SO SMALL
@media screen and (max-width: 575px) {
    .bd1{
        background-position: 0 0px;
        .content-bandai{
            top: 15%;
        }
    }
    .bd2{
        background-position: 120px 0;
        .content-bandai{
            top: 15%;
        }
    }
    .bd3{
        background-position: 70px 0;
        .content-bandai{
            top: 15%;
        }
    }
    #carouselExampleDark{
        .indicadores2{
            right: 0;
            left: 0;
            bottom: -15%;
        }
        .arrow-btn-right{
            width: max-content;
            right: 24px;
            top: 105%;
            bottom: -15%;
            background-size: 14px;
            padding: 4px 48px;
        }
    }
    .btn-one{
        width: 100%;
    }
}

//PANTALLA SMALL
@media screen and (min-width: 576px) {
    .bd1{
        background-position: 0 0px;
        .content-bandai{
            top: 25%;
        }
    }
    .bd2{
        background-position: 120px 0;
        .content-bandai{
            top: 25%;
        }
    }
    .bd3{
        background-position: 70px 0;
        .content-bandai{
            top: 25%;
        }
    }
    #carouselExampleDark{
        .indicadores2{
            right: 0;
            left: 0;
            bottom: 0;
        }
        .arrow-btn-right{
            width: max-content;
            right: 24px;
            top: 90%;
            bottom: 0;
            background-size: 14px;
            padding: 4px 48px;
        }
    }
    .btn-one{
        width: max-content ;
    }
}

//PANTALLA MEDIA
@media screen and (min-width: 768px) {
    .img-intro{
        width: 420px;
        height: 300px;
        top: -60px;
        background-repeat: no-repeat;
    }
    .card{
        .img-card{
            height: 10em;
        }
    }
    .bd1{
        background-position: 0 -100px;
        .content-bandai{
            bottom: -10px;
        }
    }
    .bd2{
        background-position: 120px -80px;
        .content-bandai{
            bottom: -10px;
        }
    }
    .bd3{
        background-position: 120px -140px;
        .content-bandai{
            bottom: -10px;
        }
    }
    #carouselExampleDark{
        .arrow-btn-right{
            width: max-content;
            right: 57px;
            top: 90%;
            bottom: 0;
            background-size: 14px;
            padding: 4px 48px;
        }
    }
}

//PANTALLA LARGE
@media screen and (min-width: 992px) {
    .img-intro{
        width: 500px;
        height: 350px;
        top: -85px;
        background-repeat: no-repeat;
    }
    .card{
        .img-card{
            height: 14em;
        }
    }
    .bd1{
        background-position: 0 -200px;
        .content-bandai{
            bottom: -50px;
        }
    }
    .bd2{
        background-position: 120px -80px;
        .content-bandai{
            bottom: -50px;
        }
    }
    .bd3{
        background-position: 120px -180px;
        .content-bandai{
            bottom: -50px;
        }
    }
    #carouselExampleDark{
        .indicadores2{
            right: 27.8%;
            left: auto;
            bottom: 0;
        }
        .arrow-btn-right{
            width: max-content;
            right: 10%;
            top: 87%;
            bottom: 0;
            background-size: 14px;
            padding: 4px 48px;
        }
    }
}

//PANTALLA EXTRA-lARGE
@media screen and (min-width: 1200px) {
    .img-intro{
        width: 600px;
        height: 420px;
        top: -170px;
        background-repeat: no-repeat;
    }
    .card{
        .img-card{
            height: 18em;
        }
    }
    .bd1{
        background-position: 0 -280px;
        .content-bandai{
            bottom: -15px;
        }
    }
    .bd2{
        background-position: 120px -180px;
        .content-bandai{
            bottom: -15px;
        }
    }
    .bd3{
        background-position: 120px -280px;
        .content-bandai{
            bottom: -15px;
        }
    }
    #carouselExampleDark{
        .indicadores2{
            right: 5%;
            bottom: 0;
        }
        .arrow-btn-right{
            width: max-content;
            right: 8%;
            top: 87%;
            bottom: 0;
            background-size: 14px;
            padding: 4px 48px;
        }
    }
}