header{
    display: inline-block;
    background: linear-gradient(#f476ff19 5%, #810AFF2c);
    backdrop-filter: blur(30px) invert(8%) contrast(0.4) brightness(2);
    width: 100%;
    position: fixed;
    top: 0;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 -20px 40px $colorBlack;
    nav{
        margin: 0 5% 0 5%;
        div{
            #navbarNav{
                justify-content: end;
                .navbar-nav{
                    align-items: center;
                    gap: 40px;
                    .nav-item{
                        .nav-link{
                            color: $colorBlack;
                            font-weight: 400;
                            filter: opacity(.4);
                            transition: all 200ms ease-in-out;
                            &:hover{
                                color: $colorAcento;
                                filter: opacity(1);
                                border-bottom: 2px solid $colorAcento;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer{
    width: 100%;
    padding: 20px 200px;
    box-sizing: border-box;
    background-color: #F476FF11;
    .i-footer{
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        li{
            a{
                i{
                    font-size: 1.2rem;
                }
            }
        }
    }
}