header{
    display: inline-block;
    background: linear-gradient(#f476ff19 5%, #810AFF2c);
    backdrop-filter: blur(30px) invert(8%) contrast(0.4) brightness(2);
    width: 100%;
    position: fixed;
    top: 0;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 -20px 40px $colorBlack;
    nav{
        margin: 0 5% 0 5%;
        div{
            #navbarNav{
                justify-content: end;
                .navbar-nav{
                    align-items: center;
                    gap: 40px;
                    .nav-item{
                        .nav-link{
                            color: $colorBlack;
                            font-weight: 400;
                            filter: opacity(.4);
                            transition: all 200ms ease-in-out;
                            &:hover{
                                color: $colorAcento;
                                filter: opacity(1);
                                border-bottom: 2px solid $colorAcento;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer{
    width: 100%;
    padding: 20px 200px;
    box-sizing: border-box;
    background-color: #F476FF11;
    .footerElementos{
        flex-direction: row wrap;
        gap: 24px;
        div{
            &:first-child{
                flex: 1;
            }
            &:nth-child(2){
                min-width: max-content;
                flex: 4;
            }
            &:last-child{
                width: max-content;
                .i-footer{
                    padding-left: 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li{
                        &:first-child{
                            align-content: center;
                            a{
                                font-size: 1.32rem;
                            }
                        }
                        &:nth-child(2){
                            a{
                                font-size: 1.32rem;
                            }
                        }
                        &:nth-child(3){
                            a{
                                font-size: 1.58rem;
                            }
                        }
                        &:last-child{
                            a{
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
    
}