.reserva-img{
    width: 100%;
    height: 450px;
    background: url(../imagenes/baner-reserva.jpg);
    background-repeat: no-repeat;
    background-size: cover;        
    background-position: 0 35%;
    div:nth-child(1){
        bottom: 0;
        color: #EDEDED;
        z-index: 1;
    }
}

.img-contact{
    height: 400px;
    background: url(../imagenes/licor2-intro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content-contact{
    display: inline-block;
}