$colorPrincipal: #7b30dd;
$colorSecundario: #F476FF;
$colorFondo: #EDEDED;
$colorBlack: #242424;
$colorTextoBody: #838383;
$colorAcento: #810AFF;
$colorEtiqueta: #7b30dd8a;

/*$fuentePrincipal: 36px;
$fuente2: 24px;
$fuente3: 20px 900;
$fuente4: 16px 700;
$fuente6: 14px 400;
$fuenteParrafo: 14px;*/

$borderIzquierdo: 100px 0 0 0;